.page-home {
    padding-block: 40px;
    height: 100%;
}

.page-home__header {

}

.page-home__title {
    font-size: 32px;
    font-weight: 600;
}

.page-home__subtitle {
    max-width: 700px;
    color: #808080;
    margin-top: 4px;
}

.page-home__header + .page-home__content {
    margin-top: 20px;
}

.page-home__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.page-home__grid-item-1 {
    grid-area: 1 / 1 / 2 / 3;
}

/* row 2 */
.page-home__grid-item-2 {
    grid-area: 2 / 1 / 3 / 2;
}
.page-home__grid-item-3 {
    grid-area: 2 / 2 / 3 / 3;
}

/* row 3 */
.page-home__grid-item-4 {
    grid-area: 3 / 1 / 4 / 3;
}

/* row 4 */
.page-home__grid-item-5 {
    grid-area: 4 / 1 / 5 / 3;
}

/* row 5 */
.page-home__grid-item-6 {
    grid-area: 5 / 1 / 6 / 2;
}
.page-home__grid-item-7 {
    grid-area: 5 / 2 / 6 / 3;
}

/* row 6 */
.page-home__grid-item-8 {
    grid-area: 6 / 1 / 7 / 2;
}
.page-home__grid-item-9 {
    grid-area: 6 / 2 / 7 / 3;
}

/* row 7 */
.page-home__grid-item-10 {
    grid-area: 7 / 1 / 8 / 3;
}

.page-home__card {
    padding: 32px 24px 32px;
    background-color: var(--color-bg);
    border-radius: 4px;
    height: 100%;
    width: 100%;
     
}

.page-home__card-title {
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
}

.page-home__card-row {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.page-home__card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
}

.page-home__card-text {
   font-size: 16px;
}

.page-home__stub {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 100px;
    text-align: center;
}