.page-home {
    padding-block: 40px;
    height: 100%;
}

.page-home__header {

}

.page-home__title {
    font-size: 32px;
    font-weight: 600;
}

.page-home__subtitle {
    max-width: 700px;
    color: #808080;
    margin-top: 4px;
}

.page-home__header + .page-home__content {
    margin-top: 24px;
}

.page-home__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.page-home__box {
    padding: 32px 24px 32px;
    background-color: var(--color-bg);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    
    display: flex;
    gap: 40px;
}

.page-home__box-item--fixed {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-home__box-text-secondary {
    font-size: 14px;
    color: #808080;
}

.page-home__box-item--full {
    width: 100%;
}

.page-home__box-button {
    margin-top: 8px;
    width: 100%;
}

.page-home__box-item:not(:last-child) {
    border-right: 1px solid var(--color-border);
    padding-right: 20px;
}

.page-home__box-media {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.page-home__box-media--small {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
}

.page-home__box-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 8px;
}

.page-home__box-image--small {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.page-home__box-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page-home__box-title {
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
}

.page-home__box-input {
    width: 100%;
    padding: 4px 16px;
    font-size: 14px;
    border: 1px solid var(--color-text-main);
    border-radius: 4px;
    background: var(--color-bg);
    color: var(--color-text);
    outline: none;
    transition: border-color 0.15s ease;
    height: 36px;
}

.page-home__box-input:focus {
    border-color: var(--color-primary);
}

.page-home__box-input::placeholder {
    color: var(--color-text-main);
    opacity: 0.4;
}

.page-home__box-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 40px;
}

.page-home__stub {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 100px;
    text-align: center;
}

