.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.button:hover,
.button--active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: inherit;
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 48px;
}

.button--secondary {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-main);
    height: 48px;
}

.button--outline {
    background-color: transparent;
    border: 1px solid var(--color-text-main);
    color: var(--color-text-main);
    height: 48px;
}

.button--small {
    height: 36px;
    font-size: 14px;
}

.button--link {
    padding: 0;
    color: var(--color-text-main);
}