.app-header {
    min-height: 60px;
    height: 60px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
}

.app-header--login {
    height: 60px;
    min-height: 60px;
}

.app-header__logo {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family-title);
    font-size: 8px;
    letter-spacing: 2px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid var(--color-border);
}

.app-header__logo img {
    width: 40px;
    height: 40px;
}

.app-header__logo--full {
    max-width: 170px;
    font-size: 6px;
    letter-spacing: 1.5px;
    line-height: 1.1;
    flex: 1;
    text-transform: uppercase;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--color-text-secondary)
}

.app-header__logo img {
    width: unset;
    height: unset;
    margin-bottom: 4px;
}

.app-header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-header__nav-link {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.app-header__avatar {
    display: flex;
    align-items: center;

    padding-left: 20px;
    margin-left: auto;

    cursor: pointer;
}

.app-header__avatar-icon {
    line-height: 1;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-accent-3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.app-header__avatar-text {
    white-space: nowrap;
    font-size: 12px;
    padding-left: 4px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.app-header__avatar-text p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.app-header__avatar-text p:not(:first-child) {
    margin-top: -2px;
    color: var(--color-text-secondary);
    opacity: 0.6;
    font-weight: 400;
}

.app-header__button {
    margin-left: 20px;
}