.auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;
    max-width: 250px;

    height: 60px;

    padding: 0 16px;

    background: #fff;
    border: 1px solid #747775;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    color: #3c4043;

    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    border-radius: 30px;
}

.auth-button:hover {
    background: #f7f8f8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.auth-button:active {
    background: #eee;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}

.auth-button__icon {
    width: 24px;
    height: 24px;
}